{deps, [
    grisp{{^grisp_io}}
{{/grisp_io}}{{#grisp_io}},
    certifi,
    grisp_cryptoauth,
    grisp_updater_grisp2,
    grisp_connect{{/grisp_io}}{{^epmd}}
{{/epmd}}{{#epmd}},
    {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}}
    {{/epmd}}
]}.

{erl_opts, [debug_info]}.

{project_plugins, [rebar3_grisp]}.

{grisp, [
    {otp, [
        {version, "{{{otp_version}}}"}
    ]},
    {deploy, [
        {destination, "{{{dest}}}"}
    ]}
]}.

{shell, [{apps, []}]}.

{relx, [
    {release, {{{{name}}}, "0.1.0"}, [
        {{#epmd}}
        {epmd, none},
        {{/epmd}}
        {{#grisp_io}}
        {grisp_updater_grisp2, load},
        sasl,
        {{/grisp_io}}
        {{{name}}}
    ]}
]}.
