[
{{#grisp_io_linking}}    {grisp_connect,[
        {device_linking_token,<<"{{{token}}}">>}
    ]},
{{/grisp_io_linking}}
{{#grisp_io}}    {grisp_updater, [
        {signature_check, false}, % Set to 'true' and uncomment next line to enable signature check
        % {signature_certificates, {priv, grisp_demo, "certificates/updates"}},
        {system, {grisp_updater_grisp2, #{}}},
        {sources, [
            {grisp_updater_tarball, #{}},
            {grisp_updater_http, #{
                backend => {grisp_updater_grisp2, #{}}
            }}
        ]}
    ]},
{{/grisp_io}}    {{{{name}}}, [
    ]}
].
