[
    {{{{name}}}, [
    ]}{{^grisp_io}}
{{/grisp_io}}{{#grisp_io}},
    {grisp_keychain, [
        {api_module, grisp_cryptoauth}
    ]},
    {grisp_cryptoauth, [
        {tls_server_trusted_certs_cb, {certifi, cacerts, []}}
    ]},
    {grisp_connect, [{{^grisp_io_linking}}{{/grisp_io_linking}}{{#grisp_io_linking}}
        {device_linking_token,<<"{{{token}}}">>},{{/grisp_io_linking}}
        % Disable the log handler defined in grisp_connect application default
        % configuration, as it was explicitly started in kernel configuration
        % in order to catch the log entries before grisp_connect is started.
        {logger, []}
    ]},
    {grisp_updater, [
        {signature_check, false}, % Set to 'true' and uncomment next line to enable signature check
        % {signature_certificates, {priv, grisp_demo, "certificates/updates"}},
        {system, {grisp_updater_grisp2, #{}}},
        {sources, [
            {grisp_updater_tarball, #{}},
            {grisp_updater_http, #{
                backend => {grisp_updater_grisp2, #{}}
            }}
        ]}
    ]},
    {kernel, [
        {logger_level, notice},
        {logger, [
            {handler, default, logger_std_h, #{
                level => notice,
                formatter => {grisp_connect_log, #{
                    legacy_header => false,
                    single_line => true,
                    description_only => true
                }},
                filter_default => log,
                filters => [
                    % Filter out supervisor progress reports so TLS certificates
                    % are not swamping the console if level is set to info...
                    {disable_progress, {fun logger_filters:progress/2, stop}}
                ]
            }},
            {handler, grisp_connect_log_handler,  grisp_connect_logger_bin, #{
                level => notice,
                filter_default => log,
                formatter => {grisp_connect_logger_bin, #{}},
                filters => [
                    % Filter out supervisor progress reports so TLS certificates
                    % are not swamping grisp.io if level is set to info...
                    {disable_progress, {fun logger_filters:progress/2, stop}}
                ]
             }
            }
        ]}
    ]}
{{/grisp_io}}
].
