{erl_opts, [debug_info]}.

{deps, [
    grisp_tools,
    grid
]}.

{project_plugins, [
    {rebar, {git_subdir, "https://github.com/erlang/rebar3.git", {branch, "main"}, "apps/rebar"}}
]}.

{project_plugins, [rebar3_ex_doc]}.
{hex, [{doc, ex_doc}]}.
{ex_doc, [
    {extras, [
          {"CHANGELOG.md", #{title => "Changelog"}},
          {"README.md", #{title => "Overview"}},
          {"LICENSE", #{title => "License"}}
    ]},
    {main, "README.md"},
    {homepage_url, "https://github.com/grisp/rebar3_grisp"},
    {source_url, "https://github.com/grisp/rebar3_grisp"}
]}.
