{{#erts_emulator_makefile_in}}
diff --git a/erts/emulator/Makefile.in b/erts/emulator/Makefile.in
index 538b501acf..ae9e613df5 100644
--- a/erts/emulator/Makefile.in
+++ b/erts/emulator/Makefile.in
@@ -889,6 +889,{{nif_lines}} @@ NIF_OBJS = \
           $(OBJDIR)/prim_file_nif.o \
           $(OBJDIR)/zlib_nif.o
 
+ifeq ($(findstring rtems,$(TARGET)),rtems)
{{#nifs}}
+   NIF_OBJS += $(OBJDIR)/{{name}}.o
{{/nifs}}
+endif
+
 ifeq ($(TARGET),win32)
 DRV_OBJS = \
        $(OBJDIR)/registry_drv.o \
@@ -924,6 +928,{{driver_lines}} @@ DRV_OBJS = \
 	$(OBJDIR)/inet_drv.o \
 	$(OBJDIR)/ram_file_drv.o \
 	$(OBJDIR)/ttsl_drv.o
+
+ifeq ($(findstring rtems,$(TARGET)),rtems)
{{#drivers}}
+	DRV_OBJS += $(OBJDIR)/{{name}}.o
{{/drivers}}
+endif
+
 endif
 
 ifneq ($(STATIC_NIFS),no)
{{/erts_emulator_makefile_in}}
