{{#erts_emulator_makefile_in}}
diff --git a/erts/emulator/Makefile.in b/erts/emulator/Makefile.in
index 3579a97c5..d3dfd69e0 100644
--- a/erts/emulator/Makefile.in
+++ b/erts/emulator/Makefile.in
@@ -835,6 +835,{{lines}} @@ DRV_OBJS = \
 	$(OBJDIR)/zlib_drv.o \
 	$(OBJDIR)/ram_file_drv.o \
 	$(OBJDIR)/ttsl_drv.o
+
+ifeq ($(findstring rtems,$(TARGET)),rtems)
{{#drivers}}
+	DRV_OBJS += $(OBJDIR)/{{name}}.o
{{/drivers}}
+endif
+
 endif
 
 ifneq ($(STATIC_NIFS),no)
{{/erts_emulator_makefile_in}}
