{deps, [grisp]}.

{plugins, [rebar3_grisp]}.

{erl_opts, [debug_info]}.

{grisp, [
    {otp_release, "{{otp_release}}"},
    {deploy, [
        {destination, "{{dest}}"}
    ]}
]}.

{relx, [
    {release, {{{name}}, "0.1.0"}, [{{name}}]}
]}.

{profiles, [
    {grisp, [
        {relx, [
            {include_erts, false},
            {extended_start_script, false},
            {dev_mode, false}
        ]}
    ]}
]}.
