{{=<% %>=}}
[erlang]
args = erl.rtems -C multi_time_warp -- -mode embedded -home . -pa . -root {{release_name}} -bindir {{release_name}}/erts-{{erts_vsn}}/bin -boot {{release_name}}/releases/{{release_version}}/start -config {{release_name}}/releases/{{release_version}}/sys.config <%#network%>-kernel inetrc "./erl_inetrc"<%/network%> <%#epmd%>-internal_epmd epmd_sup -sname {{release_name}} -setcookie <%cookie%><%/epmd%>
shell = erlang

[network]
ip_self=dhcp
<%#wifi%>wlan=enable
wpa= wpa_supplicant.conf<%/wifi%>
