{deps, [
    {{^grisp_io}}grisp{{#epmd}},{{/epmd}}{{/grisp_io}}{{#grisp_io}}grisp_connect{{#epmd}},{{/epmd}}{{/grisp_io}}
    {{#epmd}}
    epmd
    {{/epmd}}
]}.

{erl_opts, [debug_info]}.

{plugins, [rebar3_grisp]}.

{grisp, [
    {otp, [
        {version, "{{otp_version}}"}
    ]},
    {deploy, [
        {destination, "{{dest}}"}
    ]}
]}.

{shell, [{apps, []}]}.

{relx, [
    {release, {{{name}}, "0.1.0"}, [
        {{#epmd}}
        epmd,
        {{/epmd}}
        {{name}}
    ]}
]}.
